<div class="posts">
  <h2>Pending posts:</h2>
  <div *ngIf="(pendingPosts$ | async)?.length; then posts; else noPosts">this is not visible</div>
  <ng-template #posts>
    <div class="row cards-layout">
      <app-post *ngFor="let post of (pendingPosts$ | async)" [post]="post" (deletePostEmitter)="deletePost($event)"
        (approvePostEmitter)="approvePost($event)">
      </app-post>
    </div>
  </ng-template>
  <ng-template #noPosts>
    <p class="pending">No pending posts atm.</p>
  </ng-template>
  <!-- <div *ngIf="pendingPosts$ | async as pendingPosts">
    <p class="pending" *ngIf="!pendingPosts.length">No pending posts atm.</p>
  </div>
  <div class="row">
    <app-post *ngFor="let post of (pendingPosts$ | async)" [post]="post" (deletePostEmitter)="deletePost($event)"
      (approvePostEmitter)="approvePost($event)">
    </app-post>
  </div> -->
</div>
<div class="comments">
  <h2 class="comment-title">Pending comments:</h2>
  <div *ngIf="(pendingComments$ | async)?.length; then comments; else noComments">this is not visible</div>
  <ng-template #comments>
    <app-comment *ngFor="let comment of (pendingComments$ | async)" [comment]="comment"
      (deleteCommentEmitter)="deleteComment($event)" (approveCommentEmitter)="approveComment($event)">
    </app-comment>
  </ng-template>
  <ng-template #noComments>
    <p class="pending">No pending comments atm.</p>
  </ng-template>
  <!-- <div *ngIf="pendingComments$ | async as pendingComments">
    <p class="pending" *ngIf="!pendingComments.length">No pending comments atm.</p>
  </div>
  <app-comment *ngFor="let comment of (pendingComments$ | async)" [comment]="comment"
    (deleteCommentEmitter)="deleteComment($event)" (approveCommentEmitter)="approveComment($event)">
  </app-comment> -->
</div>
