/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

div.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

div.row {
  padding: 3rem;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
