.likes,
.hates {
  margin: 0;
}

.likers,
.haters {
  text-decoration: underline;
}

div.col-md-4 {
  margin-top: 10rem;
}

.users {
  padding-bottom: 0.5rem;
}

.heart {
  color: red;
}

.fa-hand-middle-finger {
  color: black;
}


.fa-pn {
  font-size: 1.70em;
}

a:focus,
a:hover,
button:focus,
button:hover {
  background: lavender;
  color: rgb(150, 0, 150);
}

.edit,
.delete {
  margin-right: 2rem;
}

.delete:hover,
.delete:focus {
  background-color: black;
  color: red;
}

.lead {
  color: rgb(104, 9, 104)
}

.com-num {
  text-align: right;
  margin-bottom: 3rem;
}