.cards-layout {
  margin: 1rem 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.mat-paginator {
  z-index: 10;
}

.no-posts-msg {
  font-family: "Georgia", sans-serif;
  color: black;
  ;
  font-style: italic;
  margin: 0;
  padding: 1rem 2rem;
}
