<div class="col-md-4">
  <div class="card" style="width: 27.75rem;">
    <img class="card-img-top" src="{{post.imageUrl}}" alt="Card image cap">
    <div class="card-body text-center">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.content | slice:0:40}}...</p>
      <div *ngIf="post.status.toLowerCase() === 'pending';then adminTool else details">here is ignored</div>
      <ng-template #adminTool>
        <button class="btn btn-secondary" (click)="approvePost()">Approve</button>
        <button routerLink="/post/edit/{{post._id}}" class="btn btn-secondary">Edit</button>
        <button class="btn btn-secondary" (click)="deletePost()">Delete</button>
      </ng-template>
      <ng-template #details>
        <a routerLink="/post/details/{{post._id}}" class="btn btn-primary">Details</a>
      </ng-template>
    </div>
  </div>
</div>
