<!-- <form (submit)="editComment()" [formGroup]="form" fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field appearance="outline">
    <mat-label>Edit your comment</mat-label>
    <textarea formControlName="content" matInput placeholder="Type your comment" rows="7">
    </textarea>
    <mat-icon matSuffix>question_answer</mat-icon>
    <mat-error *ngIf="form.get('content').hasError('required')">Please leave a comment</mat-error>
    <mat-error *ngIf="form.get('content').hasError('minlength')">Comment must be at least 10 symbols long</mat-error>
    <mat-error *ngIf="form.get('content').hasError('maxlength')">Comment must not exceed 100 symbols</mat-error>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem">
    <a mat-fab color="primary" (click)="goBack()" routerLinkActive="active">Back</a>
    <button [disabled]="form.invalid || !form.dirty" type="submit" mat-fab color="primary">Edit</button>
  </div>
</form> -->
<app-comment-form [comment]="comment" (submitFormEmitter)="editComment($event)" (goBackEmitter)="goBack($event)"></app-comment-form>