<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div fxHide.gt-xs class="text-right">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <span><a class="navbar-brand" routerLink='/home'>Social Blog</a></span>
    <ul fxFlex fxLayout="row wrap" fxLayoutAlign="flex-end center" fxLayoutGap="20px" fxHide.xs
      class="navigation-links">
      <ng-template [ngIf]="!isLoggedIn">
        <li class="nav-item">
          <a class="navbar-brand" routerLink='/user/register' routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" routerLink='/user/login' routerLinkActive="active">Login</a>
        </li>
      </ng-template>
      <ng-template [ngIf]="isLoggedIn">
        <ng-template [ngIf]="isAdmin">
          <li class="nav-item">
            <a class="navbar-brand" routerLink='/user/admin-tool' routerLinkActive="active">Admin Tool</a>
          </li>
        </ng-template>
        <li class="nav-item">
          <a class="navbar-brand" routerLink='/post/create' routerLinkActive="active">Create Post</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" routerLink='/user/profile' routerLinkActive="active">Profile</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" routerLink="" (click)="logout()">Logout</a>
        </li>
        <li class="nav-item welcome-msg">
          Welcome, {{username}}!
        </li>
      </ng-template>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>


<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Start Bootstrap</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarResponsive" style="">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
